apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "onix-bpp.fullname" . }}-bpp-config
  labels:
    {{- include "onix-bpp.labels" . | nindent 4 }}
    component: bpp
data:
  bpp_caller_routing.yaml: |
{{ .Values.config.routing.caller | indent 4 }}
  bpp_receiver_routing.yaml: |
{{ .Values.config.routing.receiver | indent 4 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "onix-bpp.fullname" . }}-bpp-adapter
  labels:
    {{- include "onix-bpp.labels" . | nindent 4 }}
    component: bpp
data:
  adapter.yaml: |
{{- $redisHost := .Values.redis.host | default "redis:6379" }}
{{- $adapterConfig := .Values.config.adapter | replace "REDIS_HOST_PLACEHOLDER" $redisHost }}
{{ $adapterConfig | indent 4 }}
