apiVersion: v1
kind: Service
metadata:
  name: {{ include "onix-bpp.fullname" . }}-service
  labels:
    {{- include "onix-bpp.labels" . | nindent 4 }}
    component: bpp
  {{- with .Values.serviceAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "onix-bpp.selectorLabels" . | nindent 4 }}
    component: bpp
