apiVersion: v1
kind: Service
metadata:
  name: {{ include "onix-api-microservice.fullname" . }}-{{ .Values.component }}-service
  labels:
    {{- include "onix-api-microservice.labels" . | nindent 4 }}
    component: {{ .Values.component }}
  {{- with .Values.serviceAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "onix-api-microservice.selectorLabels" . | nindent 4 }}
    component: {{ .Values.component }}

