{{- if .Values.kafkaUI.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "onix-kafka.fullname" . }}-kafka-ui
  labels:
    {{- include "onix-kafka.labels" . | nindent 4 }}
    component: kafka-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "onix-kafka.selectorLabels" . | nindent 6 }}
      component: kafka-ui
  template:
    metadata:
      labels:
        {{- include "onix-kafka.selectorLabels" . | nindent 8 }}
        component: kafka-ui
    spec:
      containers:
      - name: kafka-ui
        image: "{{ .Values.kafkaUI.image.repository }}:{{ .Values.kafkaUI.image.tag }}"
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        env:
        - name: KAFKA_CLUSTERS_0_NAME
          value: local
        - name: KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS
          value: {{ if .Values.kafka.enabled }}{{ include "onix-kafka.fullname" . }}-kafka:{{ .Values.kafka.service.port }}{{ else }}ev-charging-kafka-bap-onix-kafka-kafka:9092{{ end }}
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "onix-kafka.fullname" . }}-kafka-ui
  labels:
    {{- include "onix-kafka.labels" . | nindent 4 }}
    component: kafka-ui
spec:
  type: {{ .Values.kafkaUI.service.type }}
  ports:
    - port: {{ .Values.kafkaUI.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "onix-kafka.selectorLabels" . | nindent 4 }}
    component: kafka-ui
{{- end }}

